{{#if addNewAnswer}}
<h1>New Answer</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author:</label>
        {{input value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="reponse">Answer to question:</label>
        {{input value=reponse id="reponse"}}
      </div>
      <div class="form-group">
        <label for="confidence">Confidence in answer (1-10...1 being very unsure, 10 being positive):</label>
        {{input type= "number" value=confidence id="confidence" min="1" max="10"}}
      </div>
      <button {{action 'saveAnswer'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'answerFormShow'}}>New Answer</button>
{{/if}}
