<h1>{{question.author}}'s question: {{question.content}}</h1>
<br>
<button {{action 'delete' question}}>Delete Question</button>
<p><img src={{question.profilePictureURL}} alt="Picture from question"></p>
<br>
<h2> Answers: </h2>

<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
</ul>
