<li>
  {{#link-to 'question' question.id}}{{question.author}} asked this question: {{question.content}}{{/link-to}}
  {{#if imageAndInfoIsShowing }}
  <p>
    <img src={{question.profilePictureURL}} alt="picture" {{action 'hideStuff'}}>
    <h4>More info about this author and/or Question: {{question.info}}</h4>
  </p>
  {{else}}
  <br>
  <button class = "btn-lg"{{action 'showStuff'}}>Show cool stuff</button>
  {{/if}}
</li>
