<li><span id="wellLine">
{{#link-to 'question' question.id}} {{question.author}} asked this question: {{question.content}}{{/link-to}}
</span>
  {{#if imageAndInfoIsShowing }}

  <p>
    <img src={{question.profilePictureURL}} alt="picture" {{action 'hideStuff'}}>
    <h3>More info about this author and/or Question: <br>
      <li><h4><span class="moreInfo">{{question.info}}</span></h4></li>
    </h3>
  </p>
  {{else}}
  <br>
  <button class = "btn-lg"{{action 'showStuff'}}>Show cool stuff</button>
  {{/if}}
</li>
